# compiled output
FileServerFront/dist
FileServerFront/node_modules
FileServerFront/tmp
FileServerFront/out-tsc
# dependencies
login-auth/node_modules
# IDEs and editors
### VS Code ###
FileServerFront/.vscode/
FileServerFront/.vscode/*
FileServerFront/!.vscode/settings.json
FileServerFront/!.vscode/tasks.json
FileServerFront/!.vscode/launch.json
FileServerFront/!.vscode/extensions.json
FileServerFront/.history/*
### IDEA #####
FileServerBack/.idea
FileServerBack/*.iws
FileServerBack/*.iml
FileServerBack/*.ipr
FileServerBack/HELP.md
FileServerBack/target/
FileServerBack/!.mvn/wrapper/maven-wrapper.jar
FileServerBack/!**/src/main/**/target/
FileServerBack/!**/src/test/**/target/
FileServerBack/!**/src/main/resources/application-dev.yaml


