/* You can add global styles to this file, and also import other style files */
html{
  background-color: #1c1c1c;
  position: relative;
  min-height: 100%;
}

body{
   margin-bottom: 60px;
}

.basic{
  background-color: #1c1c1c;
}

.wrap-footer{
  padding-bottom: 60px;
}

.cursor{

  cursor: pointer;
}



